{
  "comments": false,
  "env": {
    "default": {
      "presets": [
        ["env", {
          "targets": { "node": "current" },
          "useBuiltIns": true
        }]
      ],
      "plugins": [
        "transform-function-bind",
        ["transform-object-rest-spread", { "useBuiltIns": true }]
      ]
    },
    "build": {
      "presets": [
        ["env", {
          "targets": { "node": "current" }
        }],
        ["minify", {
          "replace": false,
          "removeConsole": false,
          "removeDebugger": true
        }]
      ],
      "plugins": [
        "transform-function-bind",
        ["transform-object-rest-spread", { "useBuiltIns": true }]
      ],
      "ignore": [
        "**/__mocks*__/*.js",
        "**/__tests*__/*.dist.spec.js",
        "**/__tests*__/*.spec.js"
      ]
    }
  }
}
